{% extends 'base.html' %}
{% block content %}
<div class="shadow card">


                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b> {{tak.priority}}</b></p>
                    <p><b> {{tak.date}}</b></p>

                    <a class="btn btn-danger" href="{% url 'dlt' tak.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' tak.id %}">Update</a>
                </div>
            </div>
            <br>
                                  {% endblock %}